/* Imports the Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
}

h1, h2, h3, h4, h2, h6 {
    font-family: "Funnel Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0.5rem;
}

/************************* COLORS PERIADDDDDDDDDDDD********************/

.bg-primary { background-color: #7b4b2d; }
.bg-light { background-color: #ffffff;}
.bg-dark { background-color: #363029;}
.bg-muted { background-color: #f8f6f5;}

.text-primary {color: #7b4b2d; }
.text-light {color: #ffffff;}
.text-dark {color: #363029;}
.text-muted {color: #f8f6f5;}

/************************* SWATCHESS PERIADDDDDDDDDDDD********************/

.swatches {
    display: flex; /* organises children elements in a line */
    gap: 1rem;
}

.swatch .swatch-value {
    aspect-ratio: 1 / 1;
    width: 4rem; /* em - root font size (16px) */
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
}

.swatch .swatch-name {
    text-align: center;
}