/* Imports the Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables for this website */
:root {
    --primary: #7b4b2d;
    --light: #ffffff;
    --dark: #363029;
    --muted: #f8f6f5;
    --font-normal: "Funnel Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-heading: 'Open Sans', 'Helvetica Neue', sans-serif;

    --space-0: 0; /* 0px */
    --space-1: 0.5rem; /* 4px */
    --space-2: 1rem; /* 16px */
    --space-3: 2rem; /* 32px */
    
}

/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-heading);
    line-height: 1.5;
}

h1, h2, h3, h4, h2, h6 {
    font-family: var(--font-normal);
    margin-bottom: 0.5rem;
}

main {
    align-self: center;
}

/************************* COLORS PERIADDDDDDDDDDDD********************/

.bg-primary { background-color: var(--primary);}
.bg-light { background-color: var(--light);}
.bg-dark { background-color: var(--dark);}
.bg-muted { background-color: var(--muted);}

.text-primary {color: var(--primary); }
.text-light {color: var(--light);}
.text-dark {color: var(--dark);}
.text-muted {color: var(--muted);}

/************************* SPACINGGGGG PERIADDDDDDDDDDDD********************/
.m-0 { margin: var(--space-0);}
.m-1 { margin: var(--space-1);}
.m-2 { margin: var(--space-2);}
.m-3 { margin: var(--space-3);}

.p-0 { padding: var(--space-0);}
.p-1 { padding: var(--space-1);}
.p-2 { padding: var(--space-2);}
.p-3 { padding: var(--space-3);}

.gap-0 { gap: var(--space-0);}
.gap-1 { gap: var(--space-1);}
.gap-2 { gap: var(--space-2);}
.gap-3 { gap: var(--space-3);}

/************************* SWATCHESS PERIADDDDDDDDDDDD********************/

.swatches {
    display: flex; /* organises children elements in a line */

}

.swatch .swatch-value {
    aspect-ratio: 1 / 1;
    width: 4rem; /* em - root font size (16px) */
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
}

.swatch .swatch-name {
    text-align: center;
}